$o-fonts-path: '//build.origami.ft.com/files/o-fonts-assets@0.2.2/' !default;
$o-fonts-name: o-fonts;
$o-fonts-version: null !default;
$o-fonts-assets-path: $o-fonts-name !default;

$o-fonts-is-silent: true !default;

$_o-font-families-with-fallbacks: (
  BentonSans: unquote("BentonSans, sans-serif"),
  MillerDisplay: unquote("MillerDisplay, serif"),
  Clarion: unquote("Clarion, Georgia, serif"),
  FinancierDisplay: unquote("FinancierDisplay, serif"),
  FinancierText: unquote("FinancierText, serif"),
  Metric: unquote("Metric, sans-serif")
);

// Map of all families, each with a list of styles for that family.
// Only families and styles listed here will be allowed to be declared as @font-faces via the oFontsInclude mixin.
$_o-fonts-families: (
  BentonSans: (lighter, normal, bold),
  MillerDisplay: (normal, bold),
  Clarion: (normal, bold, (normal, italic)),
  FinancierDisplay: (normal, (normal, italic)),
  FinancierText: (normal, (normal, italic)),
  Metric: (normal, (normal, italic), bold, (bold, italic))
);

// Map of families and styles which have already been included. Exists to avoid multiple @font-face definitions
$_o-fonts-families-included: () !default;


// These variables are deprecated. Modules should use the oFontsGetFontFamilyForUseCase function instead.
$o-fonts-sans-serif: oFontsGetFontFamilyWithFallbacks(BentonSans);
$o-fonts-serif: oFontsGetFontFamilyWithFallbacks(Clarion);
$o-fonts-bentonsans-lighter: oFontsGetFontFamilyWithFallbacks(BentonSans);
$o-fonts-bentonsans-normal: oFontsGetFontFamilyWithFallbacks(BentonSans);
$o-fonts-bentonsans-bold: oFontsGetFontFamilyWithFallbacks(BentonSans);
$o-fonts-millerdisplay-normal: oFontsGetFontFamilyWithFallbacks(MillerDisplay);
$o-fonts-millerdisplay-bold: oFontsGetFontFamilyWithFallbacks(MillerDisplay);
$o-fonts-millerdisplay-bolder: oFontsGetFontFamilyWithFallbacks(MillerDisplay);
$o-fonts-clarion-normal: oFontsGetFontFamilyWithFallbacks(Clarion);
$o-fonts-clarion-bold: oFontsGetFontFamilyWithFallbacks(Clarion);
$o-fonts-clarion-italic: oFontsGetFontFamilyWithFallbacks(Clarion);
