$o-fonts-is-silent: true !default;

// Variables used by oFontGetFontFamilyWithFallbacks(). Not to be used by modules directly.
$_o-fonts-serif: Georgia, 'Times New Roman', serif;
$_o-fonts-sans-serif: BentonSans, Helvetica, Arial, sans-serif;
$_o-fonts-financierdisplay: FinancierDisplay, serif;
$_o-fonts-financiertext: FinancierText, serif;
$_o-fonts-metric: Metric, sans-serif;

$_o-font-families-with-fallbacks: (
  BentonSans: $_o-fonts-sans-serif,
  FinancierDisplay: $_o-fonts-financierdisplay,
  FinancierText: $_o-fonts-financiertext,
  Metric: $_o-fonts-metric,
  Georgia: $_o-fonts-serif
);

// Map of all families, each with a list of styles for that family.
// Only families and styles listed here will be allowed to be declared as @font-faces via the oFontsInclude mixin.
$_o-fonts-families: (
  BentonSans: (lighter, normal, bold),
  FinancierDisplay: (normal, (normal, italic)),
  FinancierText: (normal, (normal, italic)),
  Metric: (normal, (normal, italic), bold, (bold, italic))
);

// Map of families and styles which have already been included. Exists to avoid multiple @font-face definitions
$_o-fonts-families-included: () !default;


// These variables are deprecated. Modules should use the oFontsGetFontFamilyForUseCase function instead.
$o-fonts-sans-serif: $_o-fonts-sans-serif;
$o-fonts-serif: Georgia, 'Times New Roman', serif;
$o-fonts-bentonsans-lighter: $o-fonts-sans-serif;
$o-fonts-bentonsans-normal: $o-fonts-sans-serif;
$o-fonts-bentonsans-bold: $o-fonts-sans-serif;
